[submodule "third_party/kilix-rtsp"]
	path = third_party/kilix-rtsp
	url = https://github.com/itsmygithubacct/kilix-rtsp.git
[submodule "third_party/kilix-motion-detect"]
	path = third_party/kilix-motion-detect
	url = https://github.com/itsmygithubacct/kilix-motion-detect.git
[submodule "third_party/kilix-sound-detect"]
	path = third_party/kilix-sound-detect
	url = https://github.com/itsmygithubacct/kilix-sound-detect.git
